<aside>
    <div class="contact">
        <div class="img-profil">
            <img src="profil-portfolio.jpeg" alt="Photo de profil">
            <p><strong>Steve Mafoa</strong> <br>Développeur Web</p>
        </div>
        <p class="about-contact">Développeur Full Stack - Passionné de Football - Garantissant un code propre et des solutions robustes.</p>
        <button class="btn-contact"><a href="mailto:steve_mafoa@outlook.com">Contact me</a></button>
        <div class="social">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/steve-mafoa-⚽-07a513179" target="_blank">
                    <img src="linkdin.png" alt="LinkedIn Steve Mafoa">
                </a>
                <p>/steve-mafoa-⚽-07a513179</p>
            </div>
            <div class="github">
                <a href="https://github.com/MafoaSteve9" target="_blank">
                    <img src="github.png" alt="Github Steve Mafoa">
                </a>
                <p>/github-SteveMafoa9</p>
            </div>
            <div class="cv">
                <a href="cv-alternance_dev.pdf">
                    <img src="cv.png" alt="Cv Steve Mafoa">
                </a>
                <p>/cv-dev-web</p>
            </div>
        </div>
    </div>
    <div class="skills-div">
        <div class="title-skills">
            <h2>Skills</h2>
        </div>
        <div class="skills">
            <p>TypeScript</p>
            <p>JavaScript</p>
            <p>Angular</p>
            <p>React</p>
            <p>Node.js</p>
        </div>
    </div>
</aside>
