<div class="about">
    <div class="title-div">
        <h2>About me</h2>
    </div>
    <div class="presentation">
        <p>Étudiant en développement web à Aston École IT, je forge mes compétences à travers des projets concrets. Ma passion pour le football m'a appris l'importance du travail d'équipe et de la communication, des valeurs que je transpose naturellement dans mon approche du développement.<br><br> Ouvert à toute opportunité d'apprentissage, je suis déterminé à approfondir mes compétences techniques et à contribuer de manière innovante.</p>
    </div>
</div>
