<div class="projet">
    <h2>Experience</h2>
        <div class="box">
            <div class="div-img"><img src="mbm-logo.png" alt=""></div>
            <div class="div-separation">
                <h3>Stage Développeur Web</h3>
                <p>Mon beau marché</p>
            </div>
            <div class="box2">
                <p><span>🗓️ Avr 2022 - Août 2022</span></p>
                <p>-Créer le code source nécessaire pour le bon fonctionnement du site, Tester le site web sous toutes les perspectives afin de garantir sa qualité, Diagnostiquer et corriger les erreurs et problèmes techniques du site</p>
                <div class="div-img-mbm">
                    <img src="mbm.png" alt="">
                </div>
            </div>
        </div>
</div>
