html, body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    box-sizing: border-box;
  } 
  
  /* .dark {
    background-color: black;
    color: #ffffff;
  }
  .dark p {
    color: rgba(255, 255, 255, 0.877);
  }
  .dark p strong {
    color: rgba(38, 165, 144, 0.993);
  }
button .light {
  background-color: #112F41;
} */